<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="magnetic_connector" frontName="magnetic_connector">
            <module name="Magnetic_Connector" />
        </route>
    </router>
</config>